@model ItGeek.DAL.Entities.MenuItem

@{
    ViewData["Title"] = "Просмотр";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-10">
        <h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>
    </div>
    <div class="col-2 text-right">
        <a asp-action="Index" asp-route-menuid="@Model.MenuId" class="btn btn-outline-danger">Вернуться назад</a>
    </div>
</div>
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Menu)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Menu.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Slug)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Slug)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Position)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Position)
    </dd>
</dl>