@model List<Tag>
@{
    ViewData["Title"] = "Все теги";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-4 text-gray-800">@ViewData["Title"]</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Алиас</th>
                        <th>Картинка</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Имя</th>
                        <th>Алиас</th>
                        <th>Картинка</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Name </td>
                        <td>Slug </td>
                        <td><img src="TagImage" style="width:70px;" /></td>
                        <td>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Tags" asp-route-id="Id">
                                Редактировать
                            </a>
                            <a class="btn btn-outline-primary" asp-action="Delete" asp-controller="Tags" asp-route-id="Id">
                                Удалить
                            </a>
                        </td>
                        @foreach(Tag tag in Model){
                            <td>@tag.Name </td>
                            <td>@tag.Slug </td>
                            <td><img src="@tag.TagImage" style="width:70px;" /></td>
                            <td>
                                <a asp-action="Edit" asp-controller="Tags" asp-route-id="@tag.Id">
                                    Редактировать
                                </a>
                                <a asp-action="Delete" asp-controller="Tags" asp-route-id="@tag.Id">
                                    Удалить
                                </a>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>