@model ItGeek.DAL.Entities.Category
@{
    ViewBag.Title = Model.Name;
}

<div class="pattern pattern-cat-header">
    <div class="cat-header overlay" style="background-image: url('/uploads/@Model.CategoryImage')">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="cat-header-block">
                        <h1>@Model.Name</h1>
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-list-first">
    <div class="container">

        <div class="ad top-ad">
            <img src="img/ad-horizontal.jpg" alt="alt" class="img-responsive">
        </div>

        <section class="type-one type-one-cat">
            <div class="row">

                <div class="col-md-7">
                    @foreach (ItGeek.DAL.Entities.Post post in Model.Posts)
                    {
                        <div class="type-one-first">
                            <a asp-action="Post" asp-controller="Category" asp-route-categorySlug="@Model.Slug" asp-route-postSlug="@post.Slug" title="@post.PostContents.Title">
                                <img src="/uploads/@post.PostContents.PostImage" alt="alt" class="img-responsive img-width">
                            </a>
                            <div class="item-social">
                                <div class="item-comments" title="Количество комментариев">
                                    <i class="fa fa-comment"></i><a class="item-comments-count" href="#">@post.PostContents.CommentsNum</a>
                                    <span class="date">@post.CreatedAt.ToString("dd/MM/yyyy")</span>
                                </div>
                            </div>
                            <h3><a asp-action="Post" asp-controller="Category" asp-route-categorySlug="@Model.Slug" asp-route-postSlug="@post.Slug">@post.PostContents.Title</a></h3>
                        </div>
                        break;
                    }

                </div>

                <div class="col-md-5 item-title-white">
                    @{
                        int x = 1;
                    }
                    @foreach (ItGeek.DAL.Entities.Post post in Model.Posts)
                    {
                        if (x++ == 1)
                            continue;
                        <div class="pattern">
                            <div class="overlay item-title" style="background-image: url('/uploads/@post.PostContents.PostImage')">
                                <div class="item-title-content">
                                    <h3><a asp-action="Post" asp-controller="Category" asp-route-categorySlug="@Model.Slug" asp-route-postSlug="@post.Slug">@post.PostContents.Title</a></h3>
                                    <div class="item-social">
                                        <div class="item-comments" title="Количество комментариев">
                                            <i class="fa fa-comment"></i><a class="item-comments-count" href="#">@post.PostContents.CommentsNum</a>
                                            <span class="date">@post.CreatedAt.ToString("dd/MM/yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        if (x == 4)
                            break;
                    }

                </div>

            </div>
        </section>

    </div>
</div>

<div class="cat-list">
    <div class="container">
        <div class="row">

            <div class="col-md-8">

                <div class="cat-list-wrap">
                    <div class="cat-list-wrap">
                        @{
                            int y = 1;
                        }
                        @foreach (ItGeek.DAL.Entities.Post post in Model.Posts)
                        {
                            if (y++ < x)
                                continue;
                            <a asp-action="Post" asp-controller="Category" asp-route-categorySlug="@Model.Slug" asp-route-postSlug="@post.Slug" class="cat-list-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="pattern">
                                            <img src="/uploads/@post.PostContents.PostImage" alt="Alt" class="img-responsive overlay">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h3>@post.PostContents.Title</h3>
                                        <div class="date">@post.CreatedAt.ToString("dd/MM/yyyy")</div>
                                        <div>
                                            @if (@post.PostContents.PostBody.Length < 180)
                                            {
                                                @Html.Raw(@post.PostContents.PostBody)
                                            }
                                            else
                                            {
                                                @Html.Raw(@post.PostContents.PostBody.Remove(180, @post.PostContents.PostBody.Length - 180))
                                            }
                                            ...
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>

                </div>
                <section class="pagination-section pagination-section-first text-center d-md-none">
                    <a href="#" class="button">
                        Следующая страница<i class="fa fa-angle-double-right"></i>
                    </a>
                    <div class="pagination">
                        <span class="pagination-left" title="Предыдущая страница">&laquo;</span>
                        <span class="active">1</span>
                        @for (int pageCount = 2; pageCount < (@Model.Posts.Count / 10); pageCount++)
                        {
                            <a asp-action="Post" asp-controller="Category" asp-route-categorySlug="@Model.Slug" asp-route-page="@pageCount" class="cat-list-item">@pageCount</a>
                        }


                        <a href="#" class="pagination-right" title="Следующая страница">&raquo;</a>
                    </div>
                </section>

            </div>

            <div class="col-md-4">

                <aside class="main-aside">

                    <div class="aside-box">
                        <img src="img/ad-vertical.jpg" alt="alt" class="img-responsive">
                    </div>

                    <div class="aside-box">

                        @await Component.InvokeAsync("Lasts")

                    </div>

                    <div class="aside-box">
                        <img src="img/vk-witget.jpg" alt="alt" class="img-responsive">
                    </div>

                    <div class="aside-box">
                        Latest Comments
                    </div>

                </aside>

            </div>

        </div>
    </div>

    <section class="pagination-section text-center d-none d-md-block">
        <a href="#" class="button">Следующая страница3 <i class="fa fa-angle-double-right"></i></a>
        <div class="pagination">
            <span class="pagination-left" title="Предыдущая страница">&laquo;</span>
            <span class="active">1</span>
            @for (int pageCount = 2; pageCount < (@Model.Posts.Count / 10); pageCount++)
            {
                <a asp-action="Post" asp-controller="Category" asp-route-categorySlug="@Model.Slug" asp-route-page="@pageCount" class="cat-list-item">@pageCount</a>
            }
            <a href="#" class="pagination-right" title="Следующая страница">&raquo;</a>
        </div>
    </section>

</div>