@*@model PostContentViewModel*@
@model ItGeek.DAL.Entities.Post

@{
	ViewBag.Title = Model.PostContents.Title;
}

<header class="page-header overlay" style="background-image: url('/uploads/@Model.PostContents.PostImage')">

	<div class="page-header-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-8">

					<div class="page-header-meta">

						<a href="#" class="page-category-link">cat</a> <span class="date">21/06/2023</span>

						<h1>@Model.PostContents.Title</h1>

						<div class="item-social">
							<div class="item-comments" title="Количество комментариев">
								<i class="fa fa-comment"></i><a href="#comments_thread" class="item-comments-count">@Model.PostContents.CommentsNum</a>
							</div>
							<div class="fa fa-share-alt" title="Поделиться в соц. сетях"></div>
							<div class="likely likely-custom" data-media="/uploads/@Model.PostContents.PostImage" data-title="@Model.PostContents.Title">
								<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
								<div class="facebook" title="Поделиться в Facebook">Facebook</div>
								<div class="twitter" title="Поделиться в Twitter">Twitter</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

</header>

<div class="article-content">
	<div class="container">
		<div class="row">

			<div class="col-md-8">

				<article class="main-article">

					<nav class="breadcrumbs">
						<ul>
							<li><a href="/">Главная</a></li>
							<li><a href="#">category</a></li>
							<li class="active">@Model.PostContents.Title</li>
						</ul>
					</nav>

					<div class="article-body">

						<div class="ad article-top-ad">
							<img src="~/img/ad-horizontal.jpg" alt="alt" class="img-responsive">
						</div>

						@Html.Raw(Model.PostContents.PostBody)
						
					</div>

					<div class="likely-on-page">
						<div class="likely" data-media="/uploads/@Model.PostContents.PostImage" data-title="@Model.PostContents.Title">
							<div class="vkontakte" title="Поделиться Вконтакте">Вконтакте</div>
							<div class="facebook" title="Поделиться в Facebook">Facebook</div>
							<div class="twitter" title="Поделиться в Twitter">Twitter</div>
							<div class="odnoklassniki" title="Класснуть">Класснуть</div>
							<div class="gplus" title="Плюсануть">Плюсануть</div>
						</div>
					</div>

					<div class="ad article-top-ad">
						<img src="img/ad-horizontal.jpg" alt="alt" class="img-responsive">
					</div>

					<div class="read-more">
						<div class="read-more-header">Читать еще:</div>
						<ul>
							@foreach (var postElse in Model.Categories.ToList())
							{
								<li>
									<a 
										asp-controller="Category" 
										asp-action="Post"
								   asp-route-categorySlug="category Slug"
										asp-route-postSlug="#">
										@postElse.Name
									</a>
								</li>
							}
						</ul>
					</div>

					<div class="comments">

						Comments

					</div>

				</article>

			</div>

			<div class="col-md-4">

				<aside class="main-aside">

					<div class="aside-box">
						<img src="img/ad-vertical.jpg" alt="alt" class="img-responsive">
					</div>

					<div class="aside-box">

						<div class="latest-box">

							<div class="lb-header">Последние статьи:</div>

							<div class="lb-list">

								<div class="lb-item">
									<a href="#" class="lb-catname">Электроника</a>
									<div class="lb-body">
										<a class="lb-item-header" href="#">Потрясающие снимки на новый смартфон на Android</a>
										<div class="lb-footer">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item-comments-count" href="#comments_thread">26</a>
												<span class="date">25/12/2023</span>
											</div>
										</div>
									</div>
								</div>

								<div class="lb-item">
									<a href="#" class="lb-catname">Обзоры</a>
									<div class="lb-body">
										<a class="lb-item-header" href="#">Золотистый iPhone предыдущего поколения положили на тыкву. Потрясающие снимки на Android.</a>
										<div class="lb-footer">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item-comments-count" href="#comments_thread">26</a>
												<span class="date">25/12/2023</span>
											</div>
										</div>
									</div>
								</div>

								<div class="lb-item">
									<a href="#" class="lb-catname">Новости IT</a>
									<div class="lb-body">
										<a class="lb-item-header" href="#">Потрясающие снимки на новый смартфон на Android</a>
										<div class="lb-footer">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item-comments-count" href="#comments_thread">26</a>
												<span class="date">25/12/2023</span>
											</div>
										</div>
									</div>
								</div>

								<div class="lb-item">
									<a href="#" class="lb-catname">Лайфхаки</a>
									<div class="lb-body">
										<a class="lb-item-header" href="#">Золотистый iPhone предыдущего поколения положили на тыкву. Потрясающие снимки на Android.</a>
										<div class="lb-footer">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item-comments-count" href="#comments_thread">26</a>
												<span class="date">25/12/2023</span>
											</div>
										</div>
									</div>
								</div>

								<div class="lb-item">
									<a href="#" class="lb-catname">DIY</a>
									<div class="lb-body">
										<a class="lb-item-header" href="#">Потрясающие снимки на новый смартфон на Android</a>
										<div class="lb-footer">
											<div class="item-comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item-comments-count" href="#comments_thread">26</a>
												<span class="date">25/12/2023</span>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>

					</div>

					<div class="aside-box">
						<img src="img/vk-witget.jpg" alt="alt" class="img-responsive">
					</div>

					<div class="aside-box">
						Latest Comments
					</div>

				</aside>

			</div>

		</div>
	</div>
</div>